{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", { 
      "assets": ["./dist/Bundle-analyzer-report.html", "./dist/stats.json"] 
    }],
    ["@semantic-release/npm", { "pkgRoot": "./dist", "npmPublish": true }],
    ["@semantic-release/git", { 
      "assets": ["package.json"], 
      "message": "chore(release): version updated in pkg.json file [skip ci]\n\n"
    }]
  ]
}