{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", { 
      "assets": ["./lib/Bundle-analyzer-report.html", "./lib/stats.json"] 
    }],
    ["@semantic-release/npm", { "npmPublish": true }],
    ["@semantic-release/git", { "assets": ["package.json"] }]
  ]
}